.body{
    font-family: "shimanami";
}


.profile {
    text-align: center;
    margin-top: 100px;
}

.profile img {
    width: 30%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

address {
    text-align: center;
    font-style: normal;
}


.contact li{
    list-style: none;
    padding-left: 0;
}

/*ギャラリー周り*/

.gallery {
    margin-top: 5%;
    position: relative;
    margin-bottom: 10%;
}
  
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: auto;
}

.images img {
    width: 20vw;
    height: 20vw;
    border: 1px solid rgb(182, 182, 182);
    object-fit: cover;
}

.images img:hover{
        opacity: 0.6;
        transition: 0.3s;
}

/*拡大表示*/
#zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

#zoomed_image {
    height: 90%;
    border: solid white 10px;
}



/*ギャラリーここまで*/


/*メニューバー*/

.menu {
    background-color: black;
    padding: 5px;
    text-align: center;
}

.menu a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.menu a:hover {
    background-color: #0b9e66;
    color: white;
}

.menu ul{
    display: flex;
    padding-left: 0;
}

.menu li{
    list-style: none;
}

/*メニューバーここまで*/

.credits {
    text-align: center;
    margin-top: 100px;
}

.cre_list {
    text-align: left;
    display: inline-block;
}

.contact {
    margin-top: 100px;
}

